body {
    background-color: #000000;
    font-family: sans-serif;
    display:flex;
    margin:0 auto;
}

.containermain {
    margin-left: 30%;
    background-color: rgba(70, 69, 69, 0.288);
    border: 2.5px solid #89dce2;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    width: 1000px;
    height: 375px;
    border-radius: 15px;
    box-shadow: 0 0 20px #89dce2;
}
.containermainicon {
    display: flex;
    justify-content: center;
    gap: 50px;
    }

.containericon {
    margin-top: 25px;
    border: 2.5px solid #ffffff;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 10px;
    height: 55px;
    width: 65px;
    display: flex;
    justify-content:center;
    }
.containericon:hover {
    border: 2.5px solid #4c00ff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 50px rgb(119, 0, 255);
    }



.containericon2 {
    margin-top: 25px;
    border: 2.5px solid #ffffff;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 10px;
    height: 55px;
    width: 65px;
    display: flex;
    justify-content:center;
}
.containericon2:hover {
    border: 2.5px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 50px green;
}
.containericon3 {
    margin-top: 25px;
    border: 2.5px solid #ffffff;
    box-shadow: 0 0 15px rgb(255, 255, 255);
    border-radius: 10px;
    height: 55px;
    width: 65px;
    display: flex;
    justify-content:center;
}
.containericon3:hover {
    border: 2.5px solid rgba(15, 47, 101, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    transition: all 0.5s ease-out;
    box-shadow: 0 0 50px rgba(15, 47, 101, 1);
}
p {
    color: aliceblue;
    text-align: center;
    }
h1 {
    font-size: 25px;
    box-shadow: 0 0 20px rgb(220, 224, 0);
    border: 3px solid #ff8903;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    }



main {
    margin-top: 100px;
    margin-left: 45%;
    background-color: rgba(70, 69, 69, 0.288);
    backdrop-filter: blur(3.5px);
    border: 2.5px solid #03f7ff;
    width: 750px;
    height: 950px;
    border-radius: 15px;
    box-shadow: 0 0 5px rgb(0, 209, 224);
    }
span {
    line-height: 60px;
    font-size: 30px;
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: red;
    color: whitesmoke;
    
    }
.malpa {
    color: #03f7ff;
    }
.txt {
    text-align: center;
    }

li {
    line-height: 35px;
    font-size:20px;
    color: whitesmoke;
    }
.containerregu {
    margin-bottom: 50px;
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(230, 226, 226, 0.26);
    margin-top: 100px;
    box-shadow: 0 0 20px rgb(5, 255, 201);
    border: 3px solid #03ff9e;
    border-radius: 15px;
    width: 350px;
    height: 50px;
    color: rgb(255, 255, 255);

}
.majsterowniaicon {
    margin-top: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    width: 150px;
    height: 150px;
}
.icon {
    width: 50px;
    height: 50px;
    }

.icon1 {
     width: 45px;
     height: 45px;
     margin-top: 10px;
     }

.icon2 {
    width: 50px;
    height: 50px;
    margin-top: 2px;
}

header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: azure;
    }
